Django>=5.2,<6.0
djangorestframework>=3.15
djangorestframework-simplejwt>=5.3
django-filter>=24.0
drf-spectacular>=0.27
django-cors-headers>=4.4
django-environ>=0.11
channels>=4.1
daphne>=4.1
channels-redis>=4.2
redis>=5.0
celery[redis]>=5.4
django-celery-beat>=2.7
psycopg[binary]>=3.2
cryptography>=43.0
pyotp>=2.9
qrcode[pil]>=7.4
Pillow>=10.4
polib>=1.2
